/* Variables */
$blue: #0097e6;
$turqoise: #33d9b2;
$purple: #9980FA;
$white: #ffffff;
$dark-blue: #2c2c54;

/* Global */
*, *::before, *::after {
  box-sizing: border-box;

  .btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: 'Inconsolata', sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: inherit;
    background-position: 100% 0;
    background-size: 300%;
  }

  .btn:hover {
    background-position: 0 100%;
    color: $white;
    transition: all 1s;
  }

  .btn-one {
    border-color: $white;
    color: $white;
    background-image: linear-gradient(90deg, $white 50%, transparent 50%);
  }
  /*Body*/
  body {
    margin: 0;
    font-size: 16px;
    font-family: 'Inconsolata', sans-serif;
    line-height: 1.7;
    color: $dark-blue;
  }

  .container {
    max-width: 1140px;
    padding: 10px;
    margin: 0 auto;
  }

  .section {
    padding: 96px 0;
  }

  /* Navigation */

  .navigation {
    background: $blue;
    padding: 12px 0;
    color: $white;
  }

  .navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .navigation li {
    display: inline-block;
    margin: 0 36px 0 0;
    position: relative;
  }

  .navigation a {
    text-decoration: none;
    color: $white;
  }

  .navigation a:hover {
    color: $turqoise;
  }

  .navigation li ul {
    display: none;
  }

  .navigation ul ul li {
    display: block;
    margin: 0 0 12px 0;
    padding: 40px;
  }

  .navigation li:hover ul {
    display: block;
    text-align: center;
    position: absolute;
    background: $white;
    color: $dark-blue;
  }

  .navigation li ul a {
    color: $blue;
    display: block;
    padding: 0 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  .navigation li ul:hover a {
    color: $turqoise
  }

  /*Splash*/

  .splash {
    background: $blue;
    color: $white;
    min-height: 500px;
    display: flex;
  }

  .splash-inner {
    margin: auto;
    max-width: 70%;
  }

  .page-title {
    margin: 0;
    font-size: 72px;
    word-spacing: -24px;
    font-weight: 700;
    line-height: 1.2;
  }

  .page-subtitle {
    margin: 24px 0;
    font-weight: 300;
    font-size: 16px;
  }

  .page-title span {
    font-family: 'Signika', sans-serif;
  }